extends /docbase

block vars
  - var selected = 'create/battery'

block content
  // Create battery functions
  a(name='Create_battery')
  h4 Create Battery Functions
  table
    tbody
      tr
        td
          a(name='get_create_battery_capacity')
        td
          code get_create_battery_capacity
          |  [Category: Create Sensor Function]
          dl
            dd
              dd
                | Format: 
                code int get_create_battery_capacity();
                br
                |  Returns the battery capacity in mAh. This function is seldom used in practice.
      tr
        td
          a(name='get_create_battery_charge')
        td
          code get_create_battery_charge
          |  [Category: Create Sensor Function]
          dl
            dd
              dd
                | Format: 
                code int get_create_battery_charge();
                br
                |  Returns the battery charge in mAh.
      tr
        td
          a(name='get_create_battery_charging_state')
        td
          code get_create_battery_charging_state
          |  [Category: Create Sensor Function]
          dl
            dd
              dd
                | Format: 
                code int get_create_charging_state();
                br
                |  0-not charging; 1-recondition charging; 2-full charging; 3-trickle charging; 4-waiting;
                |  5-charge fault. This function is seldom used in practice.
      tr
        td
          a(name='get_create_battery_current')
        td
          code get_create_battery_current
          |  [Category: Create Sensor Function]
          dl
            dd
              dd
                | Format: 
                code int get_create_battery_current();
                br
                |  Returns the current flow in mA.
      tr
        td
          a(name='get_create_battery_temp')
        td
          code get_create_battery_temp
          |  [Category: Create Sensor Function]
          dl
            dd
              dd
                | Format: 
                code int get_create_battery_temp();
                br
                |  Returns the battery temperature in degrees C.
      tr
        td
          a(name='get_create_battery_voltage')
        td
          code get_create_battery_voltage
          |  [Category: Create Sensor Function]
          dl
            dd
              dd
                | Format: 
                code int get_create_battery_voltage();
                br
                |  Returns the battery voltage in mV.
  // START FOOTER

