extends docbase

block vars
  - var selected = 'create/built-ins'

block content
  // Create Built In Scripts
  a(name='Create_built_ins')
  h4 Create Built-in Script Functions
  table
    tbody
      tr
        td
          a(name='create_create_spot')
        td
          code create_spot 
          |  [Category: Create Built In Script]
          dl
            dd
              | Format: 
              code void  create_spot();
              br
              |  Simulates
              |  a Roomba doing a spot clean.
      tr
        td
          a(name='create_cover')
        td
          code create_cover 
          |  [Category: Create Function]
          dl
            dd
              | Format: 
              code void  create_cover();
              br
              |  Simulates
              |  a Roomba covering a room.
      tr
        td
          a(name='create_demo')
        td
          code create_demo 
          |  [Category: Create Function]
          dl
            dd
              | Format: 
              code
                | void  create_demo(int  d);
              br
              |  Runs built in demos (see (
              a(href='http://www.irobot.com/filelibrary/pdfs/hrd/create/Create%20Open%20Interface_v2.pdf') Create Open Interface Manual
              | ).
      tr
        td
          a(name='create_cover_dock')
        td
          code create_cover_dock 
          |  [Category: Create Function]
          dl
            dd
              | Format: 
              code void create_cover_dock();
              br
              |  Create
              |  roams around until its IR detects an iRobot IR docking station and then attempts to dock
              |  for recharging.
  // START FOOTER

