body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.header {
    font-weight: 300;
}

.caption {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.bold > a{
    font-weight: bold;
}

.sponsor {
    width: 100%;
}
.sponsor i {
    margin: 40px 0;
    font-size: large;
    display: block;
}

.sponsor-caption {
    font-size: 22px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}

.sponsortext {
    font-size: 18px;
    font-weight: 200;
    margin-top: 0;
}

.sponsor {
    padding-bottom: 10px;
}

.center-vert {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.center-horiz {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.cardtext {
    font-size: medium;
}

.multicard {
    height: 1px;
}

.image {
    height: 150px;
    width: 150px;
}

.card-text {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}