.CVariable {
    color: blue;
}

.Preprocessor {
    color: blueviolet;
}

.Comment {
    color: green;
}

:not(pre)>code>font.Quote {
    color: mediumvioletred;
}

 :not(pre)>code i,
code~i,
 :not(pre)>code {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-collapse: collapse;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-sizing: border-box;
    color: rgb(36, 41, 46);
    background-color: #dedede;
    display: inline;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 13.6px;
    line-height: 20.4px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 2.72px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2.72px;
    word-wrap: break-word;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}

pre {
    background-color: #1d1f21;
    color: #c5c8c6;
    transition: box-shadow .25s;
    box-shadow: 0;
    padding: 24px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
}

pre:hover {
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

pre .CVariable {
    color: #81a2be;
}

pre .Preprocessor {
    color: #b294bb;
}

pre .Comment {
    color: #969896;
}

pre .Quote {
    color: #b5bd68;
}

.current {
    background-color: rgba(0, 0, 0, 0.2);
}

header,
main,
footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}

.nav-wrapper>div {
    padding-left: 5%;
}

.logo {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    display: list-item;
    float: none;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: normal;
    height: 57px;
    line-height: 44px;
    list-style-type: none;
    margin-bottom: 80px;
    margin-top: 32px;
    text-align: center;
    text-size-adjust: 100%;
    width: 300px
}

.logo-container {
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    cursor: auto;
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 500;
    height: 57px;
    line-height: 44px;
    list-style-type: none;
    margin-bottom: 32px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    text-align: center;
    text-decoration-color: rgba(0, 0, 0, 0.87);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-size-adjust: 100%;
    width: 283px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.collapsible-header {
    padding-left: 5px !important;
}

.collapsible-header~div>ul>li>a {
    padding-left: 48px !important;
    font-weight: 400;
}

.collapsible-header>.material-icons {
    margin-right: 5px !important;
}