extends ../../../../../exclude/docbase

block vars
  - var selected = 'lib/kipr/info/motors-servos'
  - var path = ["Lib", "Kipr", "Info", "Motors and Servos"]

block content
  // DC Motors
  a(name='DC_motor')
  h3 DC Motor Images
  p
    | The image below is the front of the KIPR Robot Controller showing where the DC motor ports are located.
  // &lt;img class="center" src="images/Link_motor_ports.gif" width="80%"&gt;&lt;/img&gt;
  table.centerTable
    tbody
      tr
        td
          // &lt;img class="center" src="images/DC_motor.gif" width="30%"&gt;&lt;/img&gt;
          br
          p.center
            | Example DC motor used with the KIPR Robot Controller
            br
            |  (modified servo - potentiometer removed
            |  and wiring with two prong plug installed).
            br
            br
            |  DC motors are controlled using the KIPR
            |  Robot Controller 
            a(href='#CategoryMotors') motor functions.
  // Servos
  br
  br
  a(name='Servos')
  h3 Servo Images
  p
    | The image below is the front of the KIPR Robot Controller showing where the servo ports are located.
  // &lt;img class="center" src="images/Link_servo_ports.gif" width="80%"&gt;&lt;/img&gt;
  p.center
    br
    | Example servo motors used with the KIPR Robot Controller
    br
    |  (hobbyist servo - used as packaged by manufacturer)
  table.centerTable
    tbody
      tr
        td
          // &lt;img class="center" src="images/ServoMotors.gif" width=75%&gt;&lt;/img&gt;
          p.center Servo motors
        td
          // &lt;img class="center" src="images/ServoMotorPlug.gif" width=50%&gt;&lt;/img&gt;
          p.center Servo motor plug
  table.centerTable
    tbody
      tr
        td(colspan='2')
          br
          | Servos are controlled by using the KIPR Robot Controller 
          a(href='#CategoryServos') servo functions
          | .
