extends ../../../../../exclude/docbase

block vars
  - var selected = 'lib/kipr/info/simulator'
  - var path = ["Lib", "Kipr", "Info", "Simulator"]

block content
  // Simulator
  a(name='Simulator')
  h3 KIPR Robot Controller Simulator
  p
    | When the KIPR Software Suite is installed, in addition to the KISS IDE, a graphical simulator is installed which
    | can be selected as a target for a project being developed using the KISS IDE. The simulator provides a simulated
    | robot and a stylized operating environment for the robot, including a simulated (Botball style) starting
    | light. For motors and sensors incorporated into the simulated robot, side panels show motor and sensor response
    | values. A representation of the KIPR Robot Controller console screen is also provided for display output.
    | The simulated robot can be arbitrarily positioned in its environment using keyboard entry and mouse functions,
    | including turning the simulated light on/off.
  p
    | The simulator provides an effective means for trying out functions in the KIPR Robot Controller Library and for
    | testing small examples when learning how to use a library function. More fundamentally, it provides a user
    | friendly means for obtaining visual feedback for those who are learning to program in C.
  p
    | Perhaps most importantly, the simulator provides means for testing KIPR Robot Controller program code before
    | downloading a project to a KIPR Robot Controller, speeding up the process of obtaining a working program
    | for a KIPR Robot Controller controlled robot. No simulator can anticipate every variation a real robot might
    | encounter in performing its mission, but in general, simulation serves to limit the amount of program tweaking
    | required to attain acceptable performance on the actual robot.
  a(name='Running_a_Project')
  h4 Running a Project
  p
    | If a program's action does not involve the KIPR Robot Controller Library functions, its target can be "My Computer".
    | When KIPR Robot Controller Library functions are being used, the target needs to be "My KIPR Robot Controller
    | Simulator" or an attached KIPR Robot Controller. If no KIPR Robot Controller is attached, the simulator can
    | be used to see what a program does.
  ul
    li
      | If the project is the only project open in the IDE, it is automatically the 
      i active project.
    li
      | If there is more than one project open in the IDE, clicking on the project name in the side panel will make
      | it the active project.
    li
      | Clicking on either the 
      i Compile
      |  or the 
      i Run
      |  button in the IDE will send the active project to
      |  the target for compilation, launching the simulator if it is the selected target (and not already running).
      |  If there are any compilation errors they are reported back to the IDE to be displayed in its results
      |  panel. If the 
      i Run
      |  button was used in the IDE, the target will also run the project. For the Simulator,
      |  the names of projects loaded into the Simulator will be displayed in a side panel (analogous to the 
      i Programs
      |  listing on the KIPR Robot Controller).
  table
    tr
      td
        // &lt;img class="center" src="/imgs/docs/SimulatorRun.jpg" width=80%&gt;&lt;/img&gt;
        p.center For executing a project already loaded in the Simulator
  p When the target for the active project is the simulator
  ul
    li
      | Clicking 
      i Run
      |  in the IDE saves, loads, compiles, and runs the active project in the simulator.
    li
      | Clicking 
      i Compile
      |  in the IDE saves, loads, and compiles the active project in the simulator.
      ul
        li
          | Compiling allows you to position the robot and the light on the simulator game board before the program
          | is run.
        li
          | Unless you are using a custom board, compiling allows you to change the board the robot runs on to
          | one of the alternative default boards.
        li
          | Compiled projects are listed in the side panel and can be run by highlighting the name and clicking
          i Run
          |  in the simulator.
  a(name='Configuring_Simulator')
  h4 Configuring the Simulator Starting Light, Robot, and Game Board
  ol
    li
      | Positioning and using the light
      ul
        li
          | The light is positioned by clicking on the light and dragging it.
        li
          | Double clicking on the light toggles it on/off.
    li
      | Positioning the robot
      ul
        li
          | The robot is positioned by clicking on the robot and dragging it.
        li
          | You can turn the robot by holding down the shift key while clicking on the nose of the robot, using
          | it as a handle for turning.
        li
          | You can then run your project by highlighting its name and clicking 
          i Run
    li
      | Selecting a game board
      ul
        li
          | You can either
          ul
            li
              | provide a custom board for your project (See IDE 
              i Help
              |  for information on configuring
              |  a custom board)
          |  or
          ul
            li
              | select one of the default boards under the Simulators 
              i Select Board
              |  tab
        li
          | If you have a custom board file in your project, the Simulator will not let you change to one
          | of its default boards
        li
          | The 
          i Select Board
          |  tab brings up a 
          i Board Selection
          |  window with the currently available
          |  default game boards you can select from among
  table
    tr
      td
        // &lt;img class="center" src="/imgs/docs/SimulatorBoard.jpg" width=80%&gt;&lt;/img&gt;
  // START FOOTER

