extends ../../../../../exclude/docbase

block vars
  - var selected = 'lib/kipr/info/usb-sensors'
  - var path = ['Lib', 'Kipr', 'Info', 'Usb Sensors']

block content
  // USB Sensors
  br
  a(name='USB_sensors')
  h3 USB Sensor Images
  p
    | USB sensors plug into one of the two USB2 ports on the back of the KIPR Robot Controller
  // &lt;img class='center' src='/imgs/docs/Link_back_view_txt.gif' width='80%'&gt;&lt;/img&gt;
  p Specialized function libraries are provided for 
  ul
    li
      | Vision (for use with a USB web camera)
    li
      | Depth analysis (for use with an ASUS Xtion)
  table.centerTable
    tbody
      tr
        td
          // &lt;img class='center' src='/imgs/docs/webcam.gif' width='50%'&gt;&lt;/img&gt;
          br
          p.center
            | A web camera used with KIPR Robot Controller
            br
            |  (see the 
            a(href='#CategoryVision') Vision Function List
            | )
        td
          // &lt;img class='center' src='/imgs/docs/XtionDepth.gif' width='50%'&gt;&lt;/img&gt;
          br
          p.center
            | ASUS Xtion used with KIPR Robot Controller
            br
            |  (see the 
            a(href='#CategoryVision') Depth Function List
            | )
  // START FOOTER

