extends docbase

block vars
  - var selected = 'preprocessor/include'

block content
  // Preprocessor_Include
  a(name='Preprocessor_Include')
  h3 Preprocessor Include
  p
    | The preprocessor
    | #include directive is used to insert either a system header file or a user defined header file into
    | program code. System header files typically provide the prototypes for the pre-compiled functions in standard
    | C library. They also provide configuration variables in the form of macros (e.g., NULL). Some programming
    | environments may include the more common system header files automatically, depending on how much control
    | the programmer is expected to exert over the programming environment. System header files incorporate
    | #ifndef statements to avoid introducing duplicated definitions, since a system header file may appear
    | in more than one user header file included by a function.
  p
    | If the file name for a
    | #include directive is enclosed in 'pointy brackets' ( 
    code &lt; &gt;
    | ) then the preprocessor
    |  searches for the file in the system's directory of header files.
  p
    | If the file name for
    | #include directive is enclosed in (double) quote marks, then the preprocessor searches for the file
    | in the user's file space. Unless the file is located along the user's file path, the path information for
    | locating the file must also be included (e.g., for a USB stick). The contents of the file can be anything,
    | and will be passed through the C preprocessor while being inserted, which will process any preprocessor directives
    | in the file. For user header files, care needs to be taken with any variable declarations incorporated into
    | the file (to avoid duplicates caused by #includes across multiple program files) and in general function
    | definitions should not be imbedded in header files rather than pre-compiled for a user library. To sum up,
    | when
    | #include is used with a carelessly prepared user header file, a compiler error such as a duplicated
    | global variable name may occur, or a preprocessor error such as a duplicated macro name may occur.
  p
    | The following provides an example of each kind of
    | #include directive:
  .Indent
    code
      | #include &lt;stdio.h&gt; // insert function prototypes for system I/O functions 
      br
      | #include &quot;mylib.c&quot; // insert my function library 
  p
    | A few of the more commonly used system header files providing definitions for pre-compiled functions in the standard
    | C library follow:
  .Indent
    code &lt;stdlib.h&gt;
    |  [numeric conversion, memory allocation, functions such as 
    code rand
    | ]
    br
    code &lt;stdio.h&gt;
    |  [I/O functions such as 
    code printf
    | ]
    br
    code &lt;math.h&gt;
    |  [math functions such as 
    code sqrt
    | ]
    br
    code &lt;string.h&gt;
    |  [string functions such as 
    code strcpy
    | ]
    br
    code &lt;time.h&gt;
    |  [date and time functions such as 
    code time
    | ]
    br
    code &lt;stdarg.h&gt;
    |  [functions with varying number of arguments (i.e., ones using the 
    code ...
    |  argument)]
  // START FOOTER

