extends /docbase

block vars
  - var selected = 'preprocessor/index'

block content
  // Preprocessor
  a(name='Preprocessor')
  h2 C Preprocessor
  .Indent
    p
      | Before the C compiler receives a file, it is first passed through the C preprocessor to prepare the file
      | for compilation. The preprocessor clears away comments, shrinks white space to single characters, and
      | processes any preprocessor directives present in the program.
    // START FOOTER

