extends ../../../exclude/docbase

block vars
  - var selected = 'data-objects/index'
  - var path = ['Data Objects', 'Index']

block content
  // Data_Objects
  // JJM STARTED UPDATE HERE 2016-01-08
  a(name='Data_Objects')
  h2 Data Objects
  p
    | Variables and constants are basic data objects used in a C program. More complex data structures and data types
    | based on basic data objects and types can also be defined. Specification statements (such as the one used
    | for the variable 
    code h
    |  in the 
    code hypotenuse
    |  program above) are used to define the variables the programmer
    |  wants to use in a program. A specification statement may set a variable's initial value as well as specifying
    |  its data type.
  // START FOOTER

