extends /docbase

block vars
  - var selected = 'printing/printf-codes'

block content
  // Formatting_Command_Summary
  a(name='Formatting_Command_Summary')
  h3 printf % Codes Summary
  .Indent
    table.striped
      thead
        tr
          td(align='center')
            b % Code
          td
            b Associated Data Type
          td(align='center')
            b Format Outcome
      tbody
        tr
          td(align='center')
            code %d
            |  or 
            code %i 
          td(align='center')
            | int
          td(align='center') ± decimal integer
        tr
          td(align='center')
            code %x
            |  or 
            code %X 
          td(align='center')
            | int
          td(align='center')  2's complement hexadecimal representation 
        tr
          td(align='center')
            code %f
          td(align='center')
            | double
          td(align='center')  ± number with decimal point 
        tr
          td(align='center')
            code %c
          td(align='center')
            | char
          td(align='center')
            | ASCII character (low byte for
            | int )
        tr
          td(align='center')
            code %s
          td(align='center')
            | char *
          td(align='center')  ASCII characters until '\0' is reached 
  p
    | There are additional % codes for 
    code printf
    |  and more complex % code modifiers that can be used in 
    code printf
    |  statements. For information on these, see a standard C reference.
  // START FOOTER

