extends ../../../exclude/docbase

block vars
  - var selected = 'statements-and-expressions/index'
  - var path = ['Statements and Expressions', 'Index']

block content
  // Statements_and_Expressions
  a(name='Statements_and_Expressions')
  h2 Statements and Expressions
  p
    | C has unary operations (one argument), binary operations (2 arguments), and even a ternary operation (3 arguments)
    | for performing actions upon data used in a program. Expressions are combinations using one or more operations.
    | Statements incorporate expressions, assignments, function calls, and control flow constructions to form blocks
    | of code for a C program and are terminated by a semi-colon ( 
    code ;
    | ).
  // START FOOTER

