extends ../../../../exclude/docbase

block vars
  - var selected = 'movement'
  - var path = ["Lib", "Kipr", "Create", "Movement"]

block content
  // Create Movement Functions
  a(name='Create_movement')
  h4 Create Movement Functions
  table
    tbody
      tr
        td
          a(name='create_drive')
        td
          code create_drive 
          |  [Category: Create Movement Function]
          dl
            dd
              | Format: 
              code
                | void create_drive(int speed, int radius);
              br
              |  Moves the Create in an arc (see below for point turns and straight). Speed range for
              |  all commands is -500 to 500mm/sec and radius is -2000 to 2000mm.
      tr
        td
          a(name='create_drive_direct')
        td
          code create_drive_direct 
          |  [Category: Create Movement Function]
          dl
            dd
              | Format: 
              code
                | void create_drive_direct(int r_speed, int l_speed);
              br
              |  Moves the Create by setting the speed for the left side and right side separately, speed
              |  range -500 to 500mm/sec.
      tr
        td
          a(name='create_drive_straight')
        td
          code create_drive_straight 
          |  [Category: Create Movement Function]
          dl
            dd
              | Format: 
              code
                | void create_drive_straight(int speed);
              br
              |  Moves the Create straight at speed in the range -500 to 500mm/sec.
      tr
        td
          a(name='create_spin_CCW')
        td
          code create_spin_CCW 
          |  [Category: Create Movement Function]
          dl
            dd
              | Format: 
              code
                | void create_spin_CCW(int speed);
              br
              |  Spins the Create Counter Clock Wise with edge speed of speed of -500 to 500mm/sec.
      tr
        td
          a(name='create_spin_CW')
        td
          code create_spin_CW 
          |  [Category: Create Movement Function]
          dl
            dd
              | Format: 
              code
                | void create_spin_CW(int speed);
              br
              |  Spins the Create Clock Wise with edge speed of -500 to 500mm/sec.
      tr
        td
          a(name='create_stop')
        td
          code create_stop 
          |  [Category: Create Movement Function]
          dl
            dd
              | Format: 
              code void create_stop();
              br
              |  Stops the
              |  Create drive wheels.
      tr
        td
          a(name='get_create_distance')
        td
          code get_create_distance
          |  [Category: Create Movement Function]
          dl
            dd
              dd
                | Format: 
                code int get_create_distance();
                br
                |  Returns the accumulated distance the Create has traveled since it was turned on or
                |  since the distance was reset. Moving backwards reduces this value. The distance is
                |  in millimeters.
      tr
        td
          a(name='get_create_normalized_angle')
        td
          code get_create_normalized_angle
          |  [Category: Create Movement Function]
          dl
            dd
              dd
                | Format: 
                code int get_create_normalized_angle();
                br
                |  Returns the accumulated angle the Create has turned since it was turned on or the
                |  distance was reset, normalized to the range 0 to 359 degrees. Turning CCW increases
                |  this value and CW decreases the value.
      tr
        td
          a(name='get_create_overcurrents')
        td
          code get_create_overcurrents
          |  [Category: Create Movement Function]
          dl
            dd
              dd
                | Format: 
                code int get_create_overcurrents();
                br
                |  Returns the overcurrent status byte where the 16's bit indicates overcurrent in the
                |  left wheel; 8's bit overcurrent in the right wheel, 4's bit is LD2, 2's bit is LD0
                |  and 1's bit is LD1 (LD is for the Create's 3 low side driver outputs, pins 22 to
                |  24 for the connector in the Create cargo bay). Seldom used in practice.
      tr
        td
          a(name='get_create_requested_left_velocity')
        td
          code get_create_requested_left_velocity
          |  [Category: Create Movement Function]
          dl
            dd
              dd
                | Format: 
                code int get_create_requested_left_velocity();
                br
                |  Returns the speed the Create is moving (-500 to 500mm/sec) the left wheel according
                |  to the most recent movement command executed.
      tr
        td
          a(name='get_create_requested_radius')
        td
          code get_create_requested_radius
          |  [Category: Create Movement Function]
          dl
            dd
              dd
                | Format: 
                code int get_create_requested_radius();
                br
                |  Returns the radius the Create is turning (-2000 to 2000mm) according to the most
                |  recent movement command executed.
      tr
        td
          a(name='get_create_requested_right_velocity')
        td
          code get_create_requested_right_velocity
          |  [Category: Create Movement Function]
          dl
            dd
              dd
                | Format: 
                code int get_create_requested_right_velocity();
                br
                |  Returns the speed the Create is moving (-500 to 500mm/sec) the right wheel according
                |  to the most recent movement command executed.
      tr
        td
          a(name='get_create_requested_velocity')
        td
          code get_create_requested_velocity
          |  [Category: Create Movement Function]
          dl
            dd
              dd
                | Format: 
                code int get_create_requested_velocity();
                br
                |  Returns the speed the Create is moving (-500 to 500mm/s) according to the most recent
                |  movement command executed.
      tr
        td
          a(name='get_create_total_angle')
        td
          code get_create_total_angle
          |  [Category: Create Movement Function]
          dl
            dd
              dd
                | Format: 
                code int get_create_total_angle();
                br
                |  Returns the accumulated angle the Create has turned through since it was turned on
                |  or since the distance or angle was reset. Turning CCW increases this value and CW
                |  decreases the value.
      tr
        td
          a(name='set_create_distance')
        td
          code set_create_distance
          |  [Category: Create Movement Function]
          dl
            dd
              dd
                | Format: 
                code
                  | void set_create_distance(int dist);
                br
                |  Resets the distance accumulation value for 
                code get_create_distance
                |  to the
                |  value specified.
      tr
        td
          a(name='set_create_normalized_angle')
        td
          code set_create_normalized_angle
          |  [Category: Create Movement Function]
          dl
            dd
              dd
                | Format: 
                code
                  | void set_create_normalized_angle(int angle);
                br
                |  Resets the normalized angle accumulation value for 
                code get_create_normalized_angle
                |  to the value specified.
      tr
        td
          a(name='set_create_total_angle')
        td
          code set_create_total_angle
          |  [Category: Create Movement Function]
          dl
            dd
              dd
                | Format: 
                code
                  | void set_create_total_angle(int angle);
                br
                |  Resets the total angle accumulation value for 
                code get_create_total_angle
                |  to the value specified.
  // START FOOTER

