extends ../../../../../exclude/docbase

block vars
  - var selected = 'lib/kipr/create/sensors'
  - var path = ['Lib', 'Kipr', 'Create', 'Sensors']

block content
  // Create Sensor Functions
  a(name='Create_sensors')
  h4 Create Sensor Functions
  // &lt;img class='center' src='/imgs/docs/CreateSensors.gif' width=50%&gt;&lt;/img&gt;
  br
  tr
    td
      a(name='get_create_advance_button')
    td
      code get_create_advance_button
      |  [Category: Create Sensor Function]
      dl
        dd
          dd
            | Format: 
            code int get_create_advance_button();
            br
            |  Returns 1 if the advance (
            bold
              code &gt;&gt;
              | |
            | ) button is being pressed, 0 otherwise.
  tr
    td
      a(name='get_create_bay_AI')
    td
      code get_create_bay_AI
      |  [Category: Create Sensor Function]
      dl
        dd
          dd
            | Format: 
            code int get_create_bay_AI();
            br
            |  Returns
            |  the 10 bit analog value on pin 4 of the connector in the Create cargo bay.
  tr
    td
      a(name='get_create_bay_DI')
    td
      code get_create_bay_DI
      |  [Category: Create Sensor Function]
      dl
        dd
          dd
            | Format: 
            code int get_create_bay_DI();
            br
            |  Returns
            |  a byte for determining the current digital inputs (0 or 1) being applied to pins 16, 6, 18,
            |  5, and 17 of the connector in the Create cargo bay. The 128, 64, and 32 bits of the byte
            |  are not used. The 16 bit is for pin 15, 8 bit for pin 6, 4 bit for pin 18, 2 bit for pin
            |  5 and 1 bit for pin 17. Pin 15 is used to alter communications baud rate.
  tr
    td
      a(name='get_create_cwdrop')
    td
      code get_create_cwdrop
      |  [Category: Create Sensor Function]
      dl
        dd
          dd
            | Format: 
            code int get_create_cwdrop();
            br
            |  Returns
            |  1 if the front caster wheel has dropped, 0 otherwise.
  tr
    td
      a(name='get_create_infrared')
    td
      code get_create_infrared
      |  [Category: Create Sensor Function]
      dl
        dd
          dd
            | Format: 
            code int get_create_infrared();
            br
            |  Returns
            |  the byte detected from an iRobot remote control, Returns 255 if no byte has been detected.
  tr
    td
      a(name='get_create_lbump')
    td
      code get_create_lbump
      |  [Category: Create Sensor Function]
      dl
        dd
          dd
            | Format: 
            code int get_create_lbump();
            br
            |  Returns 1
            |  if the left bumper is pressed, 0 otherwise.
  tr
    td
      a(name='get_create_lcliff')
    td
      code get_create_lcliff
      |  [Category: Create Sensor Function]
      dl
        dd
          dd
            | Format: 
            code int get_create_lcliff();
            br
            |  Returns
            |  1 if the left cliff sensor is over a surface that doesn't reflect IR (e.g., black) or over
            |  a cliff, 0 otherwise.
  tr
    td
      a(name='get_create_lcliff_amt')
    td
      code get_create_lcliff_amt
      |  [Category: Create Sensor Function]
      dl
        dd
          dd
            | Format: 
            code int get_create_lcliff_amt();
            br
            |  Returns
            |  the left cliff sensor (analog) reading as a 12 bit value (0 to 4095).
  tr
    td
      a(name='get_create_lfcliff')
    td
      code get_create_lfcliff
      |  [Category: Create Sensor Function]
      dl
        dd
          dd
            | Format: 
            code int get_create_lfcliff();
            br
            |  Returns
            |  1 if left front cliff sensor is over a surface that doesn't reflect IR (e.g., black) or over
            |  a cliff, 0 otherwise.
  tr
    td
      a(name='get_create_lfcliff_amt')
    td
      code get_create_lfcliff_amt
      |  [Category: Create Sensor Function]
      dl
        dd
          dd
            | Format: 
            code int get_create_lfcliff_amt();
            br
            |  Returns
            |  the left front cliff sensor (analog) reading as a 12 bit value (0 to 4095).
  tr
    td
      a(name='get_create_lwdrop')
    td
      code get_create_lwdrop
      |  [Category: Create Sensor Function]
      dl
        dd
          dd
            | Format: 
            code int get_create_lwdrop();
            br
            |  Returns
            |  1 if the left wheel has dropped, 0 otherwise. Materials supplied with the Create include
            |  two wheel clips that when installed will prevent the drive wheels from dropping.
  tr
    td
      a(name='get_create_number_of_stream_packets')
    td
      code get_create_number_of_stream_packets
      |  [Category: Create Sensor Function]
      dl
        dd
          dd
            | Format: 
            code int get_create_number_of_stream_packets();
            br
            |  If data streaming is being used, returns the size of the stream.
  tr
    td
      a(name='get_create_play_button')
    td
      code get_create_play_button
      |  [Category: Create Sensor Function]
      dl
        dd
          dd
            | Format: 
            code int get_create_play_button();
            br
            |  Returns
            |  1 if the play button ( 
            code
              bold &gt;
            | ) is being pressed, 0 otherwise.
  tr
    td
      a(name='get_create_rbump')
    td
      code get_create_rbump
      |  [Category: Create Sensor Function]
      dl
        dd
          dd
            | Format: 
            code int get_create_rbump();
            br
            |  Returns 1
            |  if the right bumper is pressed, 0 otherwise.
  tr
    td
      a(name='get_create_rcliff')
    td
      code get_create_rcliff
      |  [Category: Create Sensor Function]
      dl
        dd
          dd
            | Format: 
            code int get_create_rcliff();
            br
            |  Returns
            |  1 if right cliff sensor is over a surface that doesn't reflect IR (e.g., black) or over a
            |  cliff, 0 otherwise.
  tr
    td
      a(name='get_create_rcliff_amt')
    td
      code get_create_rcliff_amt
      |  [Category: Create Sensor Function]
      dl
        dd
          dd
            | Format: 
            code int get_create_rcliff_amt();
            br
            |  Returns
            |  the right cliff sensor (analog) reading as a 12 bit value (0 to 4095).
  tr
    td
      a(name='get_create_rfcliff')
    td
      code get_create_rfcliff
      |  [Category: Create Sensor Function]
      dl
        dd
          dd
            | Format: 
            code int get_create_rfcliff();
            br
            |  Returns
            |  1 if right front cliff sensor is over a surface that doesn't reflect IR (e.g., black) or
            |  over a cliff, 0 otherwise.
  tr
    td
      a(name='get_create_rfcliff_amt')
    td
      code get_create_rfcliff_amt
      |  [Category: Create Sensor Function]
      dl
        dd
          dd
            | Format: 
            code int get_create_rfcliff_amt();
            br
            |  Returns
            |  the right front cliff sensor (analog) reading as a 12 bit value (0 to 4095).
  tr
    td
      a(name='get_create_rwdrop')
    td
      code get_create_rwdrop
      |  [Category: Create Sensor Function]
      dl
        dd
          dd
            | Format: 
            code int get_create_rlwdrop();
            br
            |  Returns
            |  1 if right wheel has dropped, 0 otherwise.
  tr
    td
      a(name='get_create_vwall')
    td
      code get_create_vwall
      |  [Category: Create Sensor Function]
      dl
        dd
          dd
            | Format: 
            code int get_create_vwall();
            br
            |  Returns 1
            |  if an iRobot virtual wall beacon is detected, 0 otherwise.
  tr
    td
      a(name='get_create_wall')
    td
      code get_create_wall
      |  [Category: Create Sensor Function]
      dl
        dd
          dd
            | Format: 
            code int get_create_wall();
            br
            |  Returns 1
            |  if a wall is detected by the right facing wall sensor, 0 otherwise. There is no left facing
            |  wall sensor.
  tr
    td
      a(name='get_create_wall_amt')
    td
      code get_create_wall_amt
      |  [Category: Create Sensor Function]
      dl
        dd
          dd
            | Format: 
            code int get_create_wall_amt();
            br
            |  Returns
            |  the current wall sensor (analog) reading as a 12 bit value (0 to 4095).
  // START FOOTER

