extends ../../../../../exclude/docbase

block vars
  - var selected = 'serial'
  - var path = ["Lib", "Kipr", "Create", "Serial"]

block content
  // Create Serial Interface
  a(name='Create_serial_interface')
  h4 Create Serial Interface Functions
  table
    tbody
      tr
        td
          a(name='create_clear_serial_buffer')
        td
          code create_clear_serial_buffer 
          |  [Category: Create Serial Interface Function]
          dl
            dd
              | Format: 
              code void create_clear_serial_buffer();
              br
              |  Clears the internal serial interface buffer of any unaccessed send/receive data.
      td
        a(name='create_connect')
      td
        code create_connect() 
        |  [Category: Create Serial Interface Function]
        dl
          dd
            | Format: 
            code int create_connect;
            br
            |  Establishes a
            |  USB serial connection between the KIPR Robot Controller and a Create module. This statement
            |  is normally paired with an 
            code msleep
            |  statement, since it takes more than one second
            |  for the communications link to stabilize ( 
            code msleep(1500)
            |  is sufficient). If the
            |  program is paused and the Create is not turned on, the function will block continued execution
            |  until the Create is turned on. This function is always the first step for sending Create
            |  Open Interface commands from the KIPR Robot Controller to the Create. By default, the Create
            |  starts in 
            code create_safe
            |  mode.
      tr
        td
          a(name='create_disconnect')
        td
          code create_disconnect 
          |  [Category: Create Serial Interface Function]
          dl
            dd
              | Format: 
              code void  create_disconnect();
              br
              |  Restores
              |  the Create to power on configuration (which will also shut off any running motors).
      tr
        td
          a(name='create_read_block')
        td
          code create_read_block 
          |  [Category: Create Serial Interface Function]
          dl
            dd
              | Format: 
              code
                | int create_read_block(char *data, int count);
              br
              |  Uses the serial interface to have the Create send the number of bytes specified into
              |  the character string pointed to by 
              code data
              | . 1 is returned on read success,
              |  0 on failure.
      tr
        td
          a(name='create_write_byte')
        td
          code create_write_byte 
          |  [Category: Create Serial Interface Function]
          dl
            dd
              | Format: 
              code
                | void create_write_byte(char byte);
              br
              |  Uses the serial interface to have the KIPR Robot Controller send the specified byte to
              |  the iRobot Create. The purpose of this function is for writing functions for supplying
              |  a series of byte commands to the Create to have it perform some action, or to load a
              |  song, or to load a script.
  // START FOOTER

