block vars
  - var selected = 'none'
  - var color = 'teal'
  - var themeColor = '#00796b'

- var colorText = color + '-text'

doctype html
html
  head
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='/css/base.css')
    link(type='text/css', rel='stylesheet', href='/css/materialize.min.css', media='screen,projection')
    link(rel='icon', href='/imgs/logos/botguy.png')
    title NHHS Botball Team
    meta(name='theme-color', content=themeColor)
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript', src='js/materialize.min.js')
    script(type='text/javascript', src='js/mix.js')
    header
      nav
        .nav-wrapper(class=color)
          a#top.brand-logo.waves-effect(style='padding-left:16px', href='index.html') NHHS Botball Team
          a.button-collapse(href='#', data-activates='mobile-demo')
            i.material-icons menu
          ul.right.hide-on-med-and-down
            li.waves-effect(class=(selected === 'index' ? 'active' : ''))
              a(href='index.html') Home
            li.waves-effect(class=(selected === 'about' ? 'active' : ''))
              a(href='about.html') What We Do
            li.waves-effect(class=(selected === 'achievements' ? 'active' : ''))
              a(href='achievements.html') Achievements
            li.waves-effect(class=(selected === 'join' ? 'active' : ''))
              a(href='join.html') Join Our Team
            li.waves-effect(class=(selected === 'supportus' ? 'active' : ''))
              a(href='supportus.html') Support Us
            li.waves-effect(class=(selected === 'contact' ? 'active' : ''))
              a(href='contact.html') Contact
          ul#mobile-demo.side-nav
            li(class=color)
              a.waves-effect.white-text(href='')
                i.material-icons.left.center-vert menu
                | NHHS Botball Team
            li.lighten-3(class=color)
              a.waves-effect(href='index.html')
                i.material-icons.left.center-vert home
                | Home
            li
              a.waves-effect(href='about.html')
                i.material-icons.left.center-vert help
                | What We Do
            li
              a.waves-effect(href='achievements.html')
                i.material-icons.left.center-vert star
                | Achievements
            li
              a.waves-effect(href='join.html')
                i.material-icons.left.center-vert person_add
                | Join Our Team
            li
              a.waves-effect(href='supportus.html')
                i.material-icons.left.center-vert tag_faces
                | Support Us
            li
              a.waves-effect(href='contact.html')
                i.material-icons.left.center-vert mail
                | Contact
    main.container
      block content
        p BASE TEXT, SHOULD NOT BE VISIBLE ON ANY SITE
    footer.page-footer.blue-grey
      .container
        .row
          .col.l6.s12
            h5.white-text NHHS Botball Team
            p.grey-text.text-lighten-4
              | We are a completely student-run robotics team which builds and programs robots for the KIPR Botball competition.
          .col.l4.offset-l2.s12
            h5.white-text Links
            ul
              li
                a.grey-text.text-lighten-3.waves-effect.waves-light(href='about.html') About
              li
                a.grey-text.text-lighten-3.waves-effect.waves-light(href='supportus.html') Support Us
              li
                a.grey-text.text-lighten-3.waves-effect.waves-light(href='http://materializecss.com/') Materialize CSS
      .footer-copyright(style='background-color:')
        .container
          | © 2017 North Hollywood High School Botball Team
          a.grey-text.text-lighten-4.right.waves-effect.waves-light(href='#top') Back to Top
    script.
      $(document).ready(function () {
        $('.button-collapse').sideNav();
      })
    block scripts
