block vars
  - var selected = 'none'

- var color = 'red'
- var pathDict = {
  'tutorial': [
    'index',
    'debugging',
    'style'
  ],
  'create': [
    'battery',
    'built-ins',
    'configuration',
    'index',
    'movement',
    'music-leds',
    'sensors',
    'serial'
  ],
  'data-objects': [
    'arrays',
    'constants',
    'data-types',
    'index',
    'initialization-examples',
    'pointers',
    'structures',
    'variables'
  ],
  'general': [
    'botball',
    'math',
    'threads'
  ]
}

- var titleParse = function(val) {
  return val;
}

doctype html
html
  head
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='/css/base.css')
    link(type='text/css', rel='stylesheet', href='/css/materialize.min.css', media='screen,projection')
    link(type='text/css', rel='stylesheet', href='/css/docs.css')
    link(type='text/css', rel='stylesheet', href='/css/prism.css')
    link(rel='icon', href='../imgs/logos/botguy.png')
    title Botball Documentation - Tutorial
    meta(name='theme-color', content='#ef5350')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript', src='/js/materialize.min.js')
    script(type='text/javascript', src='/js/prism.js')
    script.
      $(document).ready(function () {
      $('.button-collapse').sideNav({
      draggable: true
      });
      $('.active').parent().parent().siblings()[0].click() })
    header
      ul#slide-out.side-nav.fixed
        li.lighten-1(style='height: 130px', class=color)
          .userView
            h5.white-text
              a.white-text(href='/docs/index.html') Index
        li.no-padding
          ul.collapsible.collapsible-accordion
            each topval in pathDict
              li
                a.collapsible-header
                  i.material-icons arrow_drop_down
                  | #{titleParse(topval)}
                .collapsible-body(style='display: block')
                  ul
                    each subval in pathDict[topval]
                    li(class=(selected == (topval + '/' + subval) ? 'active' : ''))
                      a(href=('/docs/' + topval + '/' + subval + '.html'))= titleParse(subval)
      li(class=(selected == 'full' ? 'active' : ''))
          a(href='/docs/full.html') Full Documentation
      nav.nav-extended.lighten-2(class=color)
        .nav-wrapper
          .col.s12
            a.button-collapse(href='#', data-activates='slide-out', style='font-size: 50px')
              i.material-icons menu
            a#top.brand-logo.waves-effect(href='/docs/index.html') Botball Documentation
        .nav-wrapper
          .col.s12
            each element in path
                a.breadcrumb(href='#!')= element
    main.row
      .container.col.s12
        block content
          p BASE PAGE, SHOULD NOT BE VISIBLE
