extends ../exclude/base

block vars
  - var selected = 'achievements'
  - var color = 'purple'
  - var themeColor = '#00796b'

block content
  h1.header(class=colorText) Achievements
  .row
    .col.s12
      h2.header.center 2017 Greater Los Angeles Competition
    .col.s12
      img(src='imgs/awards/trophies-2017.jpg', width='100%')
    .col.s12.l4
      h4.header.center
        .row
          .col.s12
            b 1st Place
          .col.s12
            | Double Elimination
    .col.s12.l4
      h4.header.center
        .row
          .col.s12
            b 2nd Place
          .col.s12
            | Overall
    .col.s12.l4
      h4.header.center
        .row
          .col.s12
            b 1st Place
          .col.s12
            | Seeding Round
    .col.s12.l6.push-l3
      h4.header.center
        .row
          .col.s12
            b Judges' Choice
          .col.s12
            | Outstanding Programming
    .col.s12
      h2.header.center 2016 Greater Los Angeles Competition
    .col.s12.l6
      h4.header.center
        .row
          .col.s12
            b 5th Place
          .col.s12
            | Double Elimination
    .col.s12.l6
      h4.header.center
        .row
          .col.s12
            b 10th Place
          .col.s12
            | Overall
    .col.s12
      h2.header.center 2014 Greater Los Angeles Competition
    .col.s12
      img(src='imgs/homepage/2014greaterla.jpg', width='100%')
    .col.s12
      h4.header.center
        .row
          .col.s12
            b 3rd Place
          .col.s12
            | Seeding Round

block scripts
  script.
    $(document).ready(function () {
    $('.active').parent().parent().siblings()[0].click() })
