extends ../exclude/base

block vars
  - var selected = 'contact'
  - var color = 'cyan'
  - var themeColor = '#0097A7'

block content
  h1.header.cyan-text Contact Us
  h4.header We will get back to you as soon as possible
    h2.header Email
    form#emailForm(method='POST', action='http://formspree.io/contact@nohobotball.org')
      .row
        form.col.s12
          .row
            .input-field.col.s6
              input#first_name.validate(type='text', name='Name', required='')
              label(for='first_name') Name *
            .input-field.col.s6
              input#email.validate(type='email', name='Email', required='')
              label(for='email') Email *
          .row
            .input-field.col.s12
              input#subjecta.validate(type='text', name='_subject', required='')
              label(for='subjecta') Subject *
          .row
            .input-field.col.s12
              textarea#message.validate.materialize-textarea(name='Message', required='')
              label(for='message') Message *
          button.btn.waves-effect.waves-light.cyan(type='submit')
            | Submit
            i.material-icons.right send
          input(type='text', name='_gotcha', style='display:none')
          input(type='hidden', name='_next', value='http://nohobotball.org/contact.html?sent=1', style='display:none')
    .card.hoverable
      .card-content.cyan-text
        span.card-title Call
        .divider
        p.black-text
          | You can call North Hollywood High School during school hours (8:00-3:15 M-F) at (818) 753-6200. Ask for Mr.
          | Lewis, our team sponsor.
    .card.hoverable
      .card-content.cyan-text
        span.card-title Mail
        .divider
        p.black-text
          | You can send mail to North Hollywood High School with this address:
          br
          br
          | North Hollywood High School
          br
          | ATN:
          |                     Mr. Lewis, Botball Team
          br
          | 5231 Colfax Avenue
          br
          | North Hollywood, CA 91601
    script.
      if (window.location.search.indexOf('sent=1') > -1) {
      setTimeout(function(){
      Materialize.toast('Message Sent', 2500);
      }, 1000);
      setTimeout(function(){
      Materialize.toast('Thanks for contacting us!', 5000);
      }, 3500);
      setTimeout(function(){
      Materialize.toast('We'll get back to you soon!', 5000);
      }, 6000);
      }

block scripts
  script.
    $( document ).ready(function(){
    $('.slider').slider({full_width: true});
    })
